<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
	<!-- [START js-libs] -->
	<script src="/lib/jquery/js/jquery-3.1.1.js"></script>
    <script src="/lib/d3/js/d3.min.js"></script>
	<script src="/lib/DataTables-1.10.13/js/jquery.dataTables.min.js"></script>
	<!-- [END js-libs] -->
	<!-- [START css] -->
	<link type="text/css" rel="stylesheet" href="/lib/bootstrap-3.3.7/css/bootstrap.css">
	<link type="text/css" rel="stylesheet" href="/lib/DataTables-1.10.13/css/jquery.dataTables.min.css">
	<link type="text/css" rel="stylesheet" href="/css/dashboard.css">
	<!--<link type="text/css" rel="stylesheet" href="/css/hmtool.css">-->
	<!-- [END css] -->
	<title>HMTOOL</title>
    {% endblock %}	
</head>
<body>
	{# THIS IS THE HEADER #}
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">HMTOOL - TEAM M</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
			<li><a href="{{ url|safe }}">{{ url_linktext }}</a></li>
			<li><a href="/">Home</a></li>
			<li><a href="/chart">Chart</a></li>
			<li><a href="/map">Map</a></li>
			<li><a href="/weatherapi">API</a></li>
			<li><a href="/sentiment">Sentiment Analysis</a></li>
			<li><a href="/realtime">Real time</a></li>          
          </ul>
        </div>
      </div>
    </nav>
	{# THIS IS THE CONTENT #}
	<div id="content" class="container-fluid">{% block content %}{% endblock %}</div>
</body>
</html>