{% extends "/client/layout/base.html" %}

{% block content %}
	<script>
		$(document).ready(function() {
			$.getJSON('/data', function(data_json) {
				//console.log(data_json);
				var items = [];
				$.each(data_json, function(key, row) {
					items.push([ row["station_name"],row["latitude"],row["longitude"],row["date"],
						row["rec_number"],row["temperature"],row["air_humidity"],
						row["pressure"],row["solar_radiation"],row["soil_temperature"],
						row["wind_speed"],row["wind_direction"] ]);
				});
				//console.log(items);

				$('#data_table').DataTable({
					data : items,
					columns : [ 
						{title : "Station name"}, 
						{title : "Latitude"},
						{title : "Longitude"},
						{title : "Date"},
						{title : "Record number"},
						{title : "Temperature"},
						{title : "Air humidity"},
						{title : "Pressure"},
						{title : "Solar radiation"},
						{title : "Soil temperature"},
						{title : "Wind speed"},
						{title : "Wind direction"}
						]
				});

			});
			return false;
		});
	</script>

	<div>
		<table id="data_table" class="display"></table>
	</div>

{% endblock %}