{% extends "/client/layout/base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.css">
    <link rel="stylesheet" type="text/css" href="/css/keen-dashboards.css">
    <link rel="stylesheet" type="text/css" href="/css/historical.css">

   	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.js"></script>
    <script type="text/javascript" src="/js/historical.js"></script>
{% endblock %}

{% block content %}
<h3>Test Station</h3>
<div class="row">
	<div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Station: Test Station. 
            Variable: <select id="variableSelect"></select>
          </div>
          <div class="chart-stage">
            <div id="chart" class='with-3d-shadow with-transitions'>
              <svg height="450"></svg> 
            </div>
          </div>
        </div>
        <div class="chart-wrapper">
          <div class="chart-title">
            Statistics
          </div>
          <div class="chart-stage">
            <div >
            	Mean: NA<br/>
            	Min: NA<br/>   
            	Max: NA<br/>
            </div>
          </div>
        </div>
	 </div </div>
	<div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Station: Test Station
          </div>
          <div class="chart-stage">
            <table id="data_table" class="display"></table>
          </div>
        </div>
	</div>


<!--<div>
	<table id="data_table" class="display"></table>
</div>-->

{% endblock %}