{% extends "/client/layout/base.html" %}

{% block content %}
<script>
	$(document).ready(function() {

		$.getJSON('/words', function(data_json) {
			//console.log(data_json);
			var items = [];
			$.each(data_json, function(key, row) {
				items.push([ row["word_date"], row["word_text"],  row["word_sum_weight"]]);
			});
			//console.log(items);

			$('#data_table_2').DataTable({
				data : items,
				columns : [
					{title : "Date"},
					{title : "Word"},
					{title : "Count"}
					]
			});

		});

		$.getJSON('/tweets', function(data_json) {
			//console.log(data_json);
			var items = [];
			$.each(data_json, function(key, row) {
				//items.push([ row["date"], row["tweet"],  row["words"], row["weight"] ]);
				items.push([ row["date"], row["words"], row["weight"] ]);
			});
			//console.log(items);

			$('#data_table').DataTable({
				data : items,
				columns : [
					{title : "Date"},
					//{title : "Tweet"},
					{title : "Words"},
					{title : "Weight"}
					]
			});

		});
		return false;
	});
</script>

<style>
	.tab-menu {
		margin: 5px;
		padding: 5px;
		background-color: #101010;
	}

	.tab-container {
		border-bottom: solid black;
		margin: 5px;
	}

	a, a:visited {
		color: #9d9d9d;
		text-decoration: none;
	}


	a:hover {
		color: white;
		text-decoration: none;
	}
</style>

<div class="tab-container">
	<span class="tab-menu"><a href="/insert_weight_data">Insert Weight</a></span>
	<span class="tab-menu"><a href="/insert_sentiment_data">Insert Sentiment</a></span>
</div>

<div>
	<table id="data_table" class="display"></table>
</div>

<div>
	<table id="data_table_2" class="display"></table>
</div>

{% endblock %}
