{% extends "/client/layout/base.html" %}

{% block content %}
<script>
	$(document).ready(function() {
		$.getJSON('/tweets', function(data_json) {
			//console.log(data_json);
			var items = [];
			$.each(data_json, function(key, row) {
				items.push([ row["date"], row["tweet"],  row["words"], row["weight"] ]);
			});
			//console.log(items);

			$('#data_table').DataTable({
				data : items,
				columns : [
					{title : "Date"},
					{title : "Tweet"},
					{title : "Words"},
					{title : "Weight"}
					]
			});

		});
		return false;
	});
</script>

<div>
	<table id="data_table" class="display"></table>
</div>

{% endblock %}
